/* RequestsList.css */

.requests-wrapper{
  width:100%;
}

.requests-header{
  margin-bottom:26px;
}

.requests-header h2{
  font-size:30px;
  margin-bottom:10px;
}

.requests-header p{
  color:#6b7280;
}

.requests-scroll{
  display:flex;
  gap:22px;

  overflow-x:auto;

  padding-bottom:8px;

  scroll-behavior:smooth;
}

/* HIDE SCROLLBAR */

.requests-scroll::-webkit-scrollbar{
  display:none;
}

.requests-scroll{
  scrollbar-width:none;
}

@media(max-width:700px){

  .requests-header h2{
    font-size:24px;
  }

  .request-card{
    min-width:280px;
  }
}