/* RequestCard.css */

.request-card{
  min-width:320px;

  background:white;

  border-radius:28px;

  padding:22px;

  border:1px solid #f1f1f1;

  cursor:pointer;

  transition:0.3s;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.04);
}

.request-card:hover{
  transform:translateY(-4px);
}

.active-request-card{
  border-color:#dc2626;
  background:#fff8f8;
}

.request-card-top{
  display:flex;
  justify-content:space-between;
  gap:18px;

  margin-bottom:24px;
}

.hospital-row h3{
  font-size:20px;
  margin-bottom:10px;
}

.verified-badge{
  display:flex;
  align-items:center;
  gap:6px;

  width:fit-content;

  padding:8px 12px;

  border-radius:40px;

  background:#dcfce7;

  color:#15803d;

  font-size:12px;

  font-weight:600;
}

.request-time{
  display:flex;
  align-items:center;
  gap:6px;

  margin-top:14px;

  color:#6b7280;

  font-size:14px;
}

.urgency-badge{
  height:fit-content;

  padding:10px 14px;

  border-radius:40px;

  display:flex;
  align-items:center;
  gap:6px;

  font-size:13px;

  font-weight:600;
}

.critical{
  background:#fee2e2;
  color:#dc2626;
}

.urgent{
  background:#ffedd5;
  color:#ea580c;
}

.blood-section{
  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:28px;
}

.blood-group{
  display:flex;
  align-items:center;
  gap:10px;

  color:#b91c1c;

  font-size:26px;

  font-weight:700;
}

.units-needed{
  color:#6b7280;
  font-weight:600;
}

.request-footer{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.distance{
  display:flex;
  align-items:center;
  gap:6px;

  color:#6b7280;

  font-size:14px;
}

.view-btn{
  height:46px;

  border:none;

  border-radius:14px;

  background:#111827;

  color:white;

  padding:0 18px;

  display:flex;
  align-items:center;
  gap:8px;

  font-size:14px;

  font-weight:600;

  cursor:pointer;
}

.accepted-status{
  background:#dcfce7;

  color:#15803d;

  padding:10px 14px;

  border-radius:14px;

  font-size:14px;

  font-weight:600;
}