/* EmptyState.css */

.empty-state{
  background:white;

  border-radius:30px;

  padding:50px 24px;

  text-align:center;

  border:1px solid #f1f1f1;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.04);
}

.empty-icon{
  width:90px;
  height:90px;

  border-radius:28px;

  background:#fff5f5;

  color:#dc2626;

  display:flex;
  align-items:center;
  justify-content:center;

  margin:0 auto 26px;
}

.empty-state h2{
  font-size:30px;

  margin-bottom:12px;
}

.empty-state p{
  color:#6b7280;

  line-height:1.7;

  max-width:420px;

  margin:auto;
}

/* RESPONSIVE */

@media(max-width:700px){

  .empty-state{
    padding:36px 20px;
  }

  .empty-state h2{
    font-size:24px;
  }
}