/* Loader.css */

.loader-wrapper{
  width:100%;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  gap:18px;

  padding:50px 20px;
}

.loader-circle{
  width:54px;
  height:54px;

  border-radius:50%;

  border:5px solid #f3f4f6;

  border-top-color:#dc2626;

  animation:spin 0.8s linear infinite;
}

.loader-wrapper p{
  color:#6b7280;

  font-weight:500;
}

@keyframes spin{

  to{
    transform:rotate(360deg);
  }
}